* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  /* background-position: fixed; */
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/images/pawsprint.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}